/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Marcellus&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Resetting default styles */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Italiana", sans-serif; /* Setting default font family */
}

/* Body styles */
body {
    min-height:100vh; /* Ensuring the body takes up at least the full viewport height */
    background-image: linear-gradient(#050427,#361B95); /* Background gradient */
    background-size: cover; /* Ensuring background covers entire viewport */
    background-position: center; /* Centering background */
}

/* Header styles */
.header {
    position: fixed; /* Fixing header position */
    top:0;
    left:0;
    width:100%; /* Taking full width */
    padding: 20px 100px; /* Adding padding */
    background:transparent; /* Transparent background */
    display:flex; /* Flex display for centering content */
    justify-content: center; /* Centering horizontally */
    align-items: center; /* Centering vertically */
    margin-bottom: 30px; /* Adding space at bottom */
    margin-top: 30px; /* Adding space at top */
    z-index:100; /* Ensuring it's above other content */
}

/* Title styles */
.title {
    font-size: 32px; /* Setting font size */
    color: #fff; /* White color */
    text-decoration:none ; /* Removing underline */
    margin-top:40px; /* Adding space at top */
    font-size: 200px; /* Larger font size */
    text-align: center; /* Centering text */
}

/* Navigation bar styles */
.navbar a {
    position: relative; /* Relative position for pseudo element */
    font-size:18px; /* Setting font size */
    color: #fff; /* White color */
    font-weight: 500; /* Medium font weight */
    text-decoration:none; /* Removing underline */
    margin-left:40px; /* Adding space on left */
    margin-right:40px; /* Adding space on right */
}

.navbar a::before {
    content:''; /* Adding pseudo element content */
    position:absolute; /* Absolute position for proper positioning */
    top:100%; /* Positioning below anchor */
    left:0; /* Aligning with left */
    width: 0; /* Initially no width */
    height:2px; /* Setting height */
    background: #fff; /* White background */
    transition: .3s; /* Adding transition for smooth effect */
}

.navbar a:hover::before {
    width:100%; /* Increasing width on hover */
}

/* Additional styles */
a {
    font-family: "Josefin Sans", sans-serif; /* Setting font family */
}

.clear {
    clear: both; /* Clearing floats */
}

.lalaland {
    position: fixed; /* Fixing position */
    top:120px; /* Position from top */
    left:0; /* Aligning with left */
    width:100%; /* Taking full width */
    height: 30%; /* Setting height */
    padding: 20px 100px; /* Adding padding */
    display:flex; /* Flex display for centering content */
    justify-content: center; /* Centering horizontally */
    align-items: center; /* Centering vertically */
}

.castdirect {
    position: fixed; /* Fixing position */
    top:300px; /* Position from top */
    left:0; /* Aligning with left */
    width:100%; /* Taking full width */
    height: 10%; /* Setting height */
    padding: 20px 100px 20px 100px; /* Adding padding */
    display:flex; /* Flex display for centering content */
    background-color: transparent; /* Transparent background */
    justify-content: center; /* Centering horizontally */
    align-items: center; /* Centering vertically */
}

.subhead {
    font-family:"Spectral", serif; /* Setting font family */
    font-size: 160%; /* Larger font size */
    color: #fff; /* White color */
    padding-top:60px; /* Adding space at top */
    text-decoration:none ; /* Removing underline */
}

.description {
    position:fixed; /* Fixing position */
    top: 400px; /* Position from top */
    left:0; /* Aligning with left */
    color: #fff; /* White color */
    width:100%; /* Taking full width */
    height: 10%; /* Setting height */
    padding: 20px 300px; /* Adding padding */
    display:flex; /* Flex display for centering content */
    text-align: center; /* Centering text */
    background-color: transparent; /* Transparent background */
    justify-content: center; /* Centering horizontally */
    font-family: "Spectral",serif; /* Setting font family */
    font-size: 110%; /* Setting font size */
}




