/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Body styles */
body {
    background-color: #fff; /* White background */
    font-family: "Fredoka", sans-serif; /* Use Fredoka font */
    color: chocolate; /* Text color */
}

/* Header styles */
header {
    color: chocolate; /* Text color */
    font-family: 'Fredoka', sans-serif; 
    font-size: 2.5rem; /* Large font size */
    text-align: center; /* Center-align text */
    margin-top: 46px; /* Add top margin */
}

/* Paragraph styles */
p {
    font-family: "Fredoka", sans-serif; /* Use Fredoka font */
    color: chocolate; /* Text color */
    margin: 40px auto; /* Add margin */
    max-width: 800px; /* Set maximum width */
}

/* About section styles */
.about {
    text-align: center; /* Center-align text */
    font-size: 1.2rem; /* Medium font size */
    background-color: white; /* White background */
    font-family: "Fredoka", sans-serif; /* Use Fredoka font */
}

/* Container styles */
.container {
    width: 100%; /* Set width to 80% of the viewport */
}

/* Box3 styles */
.box3 {
    margin-top: 10px; /* Add top margin */
    height: 540px; /* Set height */
    border-radius: 40px; /* Add border radius */
    border: medium double burlywood; /* Add border */
    background-color: rgb(255, 255, 255); /* White background */
}

/* Procedure styles */
.list {
    margin: 20px; /* Add margin */
    color: chocolate; /* Text color */
    font-size: 1rem; /* Medium font size */
}

/* Section styles */
section { /* Center-align text */
    margin-top: 30px; /* Add top margin */
}


