
* {
    box-sizing: border-box;
  }
   
  body {
    font-family: "Arial", sans-serif;
    font-weight:400;
    background:  #ffffff;
    margin:0;
  }
   
  /* Header/Blog Title */
  .header {
    padding: 25px;
    text-align: center;
    color: #ffffff;
    background: #17072b;
  }
   
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:  rgb(29, 9, 85);
  }
   
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    font-size: 400;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(97, 65, 184);
    color: rgb(255, 255, 255);
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  section {   
    float: left;
    background-color: #ffffff;
    color:rgb(0, 0, 0) ;
    font-size: 17px;
    padding: 10px;
    width: 68%;
  }
   
  /* Right column */
  aside {
    margin-top: 10px;
    float: left;
    width: 32%;
    padding: 10px;
    color: white;
    background-color: #172d67;
  }
  
  /* Footer */
  footer {
  display: block;
  clear: both;
  padding: 2px;
  color: white;
  text-align: center;
  background:#8c15e9 ;
  margin-top: 20px;
 }




